.wrap{
    background-color: #076388;
    width: 100%;
    height: 100vh;
    z-index: -1;
    display: block;
    text-align: center;
    font-family: Roboto;
    color: white;
}

.wrap ion-img{
    margin: 20% auto 0;
    width: 200px;
    height: 200px;
}

.add-content h1{
    font-size: 26px;
}
.add-content h2{
    font-size: 20px;
}

.add-content-row {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 80%;
    margin: 0 auto 1em auto;
}

.add-content label {
    font-size: 18px;
    margin: 0 0 0.3em 0;
    text-align: left;
    width: 100%;
}

.add-content ion-input {
    border-radius: 8px;
    width: 100%;
    font-size: 20px;
    background: #ccc;
    height: 2em;
    margin-bottom: 0.5em;
}

.add-content ion-button {
  margin: 10px 0;
  padding: 0.7em;
  border-radius: 10px;
  font-size: 16px;
  font-weight: normal;
  cursor: pointer;
  width: 80%;
  text-align: center;
}

.btnAdd {
  --background: #083C78;
  --color: white;
  border: none;
  justify-content: center;
}