<ion-footer>
  <ion-toolbar>

    <div class="footer">
      <img src="assets/Path_14.png">
    </div>

    <div class="footer-content">
      <ion-button class="footer-btn" routerLink="/caja" fill="clear">
        <img src="assets/history.png" alt="Historial">
      </ion-button>

      <ion-button class="footer-btn" routerLink="/envio-mx" fill="clear">
        <img src="assets/add_package.png" alt="Envío México">
      </ion-button>

      <ion-button class="footer-btn" routerLink="/reporte" fill="clear">
        <img src="assets/report.png" alt="Reporte">
      </ion-button>
    </div>

  </ion-toolbar>
</ion-footer>
