ion-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999;
  
  ion-toolbar {
    --background: transparent;
    --border-width: 0;
    --padding-top: 0;
    --padding-bottom: 0;
    --min-height: auto;
  }
}

.footer {
  position: relative;
  width: 100%;
  z-index: 1;
}

.footer img {
  width: 100%;
  height: auto;
  display: block;
}

.footer-content {
  position: absolute;
  bottom: 8px;
  left: 0;
  right: 0;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0 40px;
}

.footer-btn {
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 64px;
  height: 64px;
}

.footer-btn img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}