<ion-footer>
  <ion-toolbar>

    <div class="footer">
      <img src="assets/Path_14.png">
    </div>

    <div class="footer-content">
      <ion-button class="footer-btn" routerLink="/historial" fill="clear">
        <img src="assets/history.svg" alt="Historial">
      </ion-button>

      <ion-button class="footer-btn" routerLink="/envio-mx" fill="clear">
        <img src="assets/add_package.svg" alt="Envío México">
      </ion-button>

      <ion-button class="footer-btn" routerLink="/reporte" fill="clear">
        <img src="assets/report_1.svg" alt="Reporte">
      </ion-button>
      
      <ion-button class="footer-btn" fill="clear">
        <img src="assets/logout_1.svg" alt="Reporte">
      </ion-button>
    </div>

  </ion-toolbar>
</ion-footer>
