.footer {
  position: relative;
  bottom: 0;
  transform: translateY(4px);
  padding-bottom: 0;
  width: 100vw;
  z-index: 1;
}

.footer-content {
  position: relative;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin-top: -48px;
}

.footer-content img {
  margin: 0 40px 0px 40px;
  width: 64px;
  height: 64px;
  pointer-events: none;
}

.footer-btn {
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-btn img {
  width: 100%;
  height: 100%;
}