
.pantalla-ajustada {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;    
  background: #f0f8ff;
  overflow: hidden;
}

.ola-superior svg,
.ola-inferior svg {
  width: 100%;
  height: 150px; 
}

.ola-superior path,
.ola-inferior path {
  fill: #0e6ba8;
}

.reporte-card {
  background: white;
  margin: -25px 20px 0 20px; 
  padding: 20px;
  border-radius: 18px;
  box-shadow: 0 4px 16px rgba(0,0,0,0.15);
  
}

.titulo {
  text-align: center;
  color: #0e6ba8;
  font-weight: 800;
  font-size: 22px;
  margin-bottom: 5px;
}

.subtitulo {
  text-align: center; 
  margin-top: 0;
  color: #0b4f73;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 15px;
}

.turno-box {
  margin-top: 20px;
  background: #d6ecff;
  border-radius: 15px;
  padding-bottom: 15px;
  position: relative; 
}

.turno-titulo {
  background: #0e6ba8;
  color: white;
  padding: 8px 15px;
  width: auto;         
  display: inline-block;
  border-radius: 12px;
  font-weight: 700;
  font-size: 14px;
  
  
  position: absolute;
  top: -15px;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
}

.turno-info {
  padding: 25px 15px 10px 15px; 
  text-align: center;
}


.label {
  font-size: 12px;
  color: #0b4f73;
  margin-bottom: 5px;
  display: block;
  font-weight: 600;
  text-transform: uppercase;
  opacity: 0.8;
}


.fila {
  display: flex;
  justify-content: space-between;
  gap: 12px; 
  margin-top: 15px;
}


.bloque {
  flex: 1; 
  padding: 10px 5px;
  border-radius: 12px;
  text-align: center;
  
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  min-width: 0; 

  box-shadow: inset 0 0 10px rgba(255,255,255,0.4);

  h3 {
    margin: 0;
    font-weight: 800;
    color: #064a70;
    width: 100%; 
    
   
    font-size: clamp(14px, 5vw, 20px); 
    
   
    word-wrap: break-word;
    line-height: 1.2;
  }
}


.ingresos { background: #bde0ff; }
.salidas  { background: #a6d6ff; }
.total-turno { 
  background: #8ecbff; 
  border: 1px solid #0e6ba8; 
}


.input-dinero {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

  .signo {
    font-weight: bold;
    color: #064a70;
    font-size: 14px;
    margin-right: 2px;
  }

  input {
    background: transparent;
    border: none;
    outline: none;
    text-align: center;
    color: #064a70;
    font-weight: 800;
    width: 100%;
    padding: 0;
 
    font-size: clamp(14px, 5vw, 20px); 
    
    &::placeholder {
      color: rgba(6, 74, 112, 0.4);
    }
  }
}

.btn-imprimir-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}