<div class="pantalla-ajustada">


  <div class="ola-superior">
    <svg viewBox="0 0 500 150" preserveAspectRatio="none">
      <path d="M-1.41,47.61 C149.99,150.00 271.52,-49.98 500.00,49.99 L500.00,0.00 L0.00,0.00 Z"></path>
    </svg>
  </div>

 
  <div class="reporte-card">
    <h2 class="titulo">GENERAR REPORTE</h2>

  

    <div class="turno-box">
      <div class="turno-titulo">Turno </div>

      <div class="turno-info">
        <p class="label">Empleado en turno</p>
        <p class="valor">Mildred</p>

        <div class="fila">
          <div class="bloque pedidos">
            <p>Pedidos</p>
            <h3>15</h3>
          </div>

          <div class="bloque ingresos">
            <p>Ingresos</p>
            <h3>$2,500.00</h3>
          </div>
        </div>

        <div class="fila">
          <div class="bloque salidas">
            <p>Salidas</p>
            <h3>$500.00</h3>
          </div>

          <div class="bloque total-turno">
            <p>Total del turno</p>
            <h3>$2,000.00</h3>
          </div>
        </div>

        
        <div class="btn-imprimir-container">
          <ion-button color="primary" shape="round" size="small" (click)="imprimir()">
            Imprimir reporte
          </ion-button>
        </div>

      </div>
    </div>
  </div>

<app-footer></app-footer>
</div>
