// Eliminar cualquier padding o margin por defecto
ion-content {
  --background: transparent;
}

// Asegurar que el componente historial ocupe toda la altura
app-historial {
  display: block;
  height: 100%;
}