<div class="wrap">
  <ion-img src="assets/caja1.webp"></ion-img>
  <div class="login-content">
    <h1>EXPORTACIONES GUELAGUETZA</h1>
    <h2>Enviemos felicidad</h2>
    <p>Rellena los campos para iniciar sesión</p>

    <div class="login-content-row">
      <ion-label for="">Usuario</ion-label>
      <input type="text">
    </div>
    <div class="login-content-row">
      <ion-label for="">Contraseña</ion-label>
      <input type="text">
    </div>
    <div class="buttons-container">
      <button class="btnLogin" routerLink="/envio-mx">Iniciar sesión</button>
      <button class="btnNuevo" routerLink="/nuevo">Agregar usuario</button>
      <ion-img src="assets/cajas.webp" alt=""></ion-img>
    </div>
  </div>
</div>