<div class="pantalla-ajustada">

  

  <!-- OLA SUPERIOR -->
  <div class="ola-superior">
    <svg viewBox="0 0 500 150" preserveAspectRatio="none">
      <path d="M-1.41,47.61 C149.99,150.00 271.52,-49.98 500.00,49.99 L500.00,0.00 L0.00,0.00 Z"></path>
    </svg>
  </div>
   <!-- Botón de regresar -->
  <ion-button fill="clear" class="btn-regresar" (click)="volver()">
    <ion-icon name="arrow-back-circle-outline"></ion-icon>
  </ion-button>
  
  <!-- CARD PRINCIPAL -->
  <div class="reporte-card">
    <h2 class="titulo">CIERRE DE CAJA</h2>

   
    <div class="turno-box">
      <div class="turno-info">

        <!-- Total esperado -->
        <p class="label">Total esperado</p>
        <p class="valor">${{ totalEsperado }}</p>

        <!-- Cantidad en caja -->
        <div class="fila-input">
          <label class="label">Efectivo en caja</label>
          <input type="number" [(ngModel)]="efectivoCaja" class="input-caja" placeholder="Ingresa efectivo">
        </div>

        
        <!-- Botón enviar -->
        <div class="btn-imprimir-container">
          <ion-button color="primary" shape="round" size="small" (click)="cerrarTurno()">
            Enviar reporte
          </ion-button>
        </div>

      </div>
    </div>
  </div>

  <app-footer></app-footer>

</div>
