<div class="pantalla-ajustada">

  <ion-button fill="clear" class="btn-regresar" (click)="volver()">
    <ion-icon name="arrow-back-circle-outline"></ion-icon>
  </ion-button>

  <div class="ola-superior">
    <svg viewBox="0 0 500 150" preserveAspectRatio="none">
      <path d="M-1.41,47.61 C149.99,150.00 271.52,-49.98 500.00,49.99 L500.00,0.00 L0.00,0.00 Z"></path>
    </svg>
  </div>

  <div class="reporte-card">
    <h2 class="titulo">CIERRE DE CAJA</h2>
    <p class="subtitulo">Validación del turno</p>

    <div class="turno-box">
      <div class="turno-titulo">Datos de cierre</div>

      <div class="turno-info">

        <p class="label">Total esperado (Sistema)</p>
        <p class="valor">{{ totalEsperado | currency }}</p>

        <div class="fila-input">
          <label class="label">Efectivo en caja (Real)</label>
          <div class="input-wrapper">
             <span class="signo">$</span>
             <input type="number" [(ngModel)]="efectivoCaja" class="input-caja" placeholder="0.00">
          </div>
        </div>

        <div *ngIf="efectivoCaja !== null" class="mensaje-validacion">
           <p [style.color]="(diferencia > -1 && diferencia < 1) ? 'green' : '#e74c3c'">
              {{ (diferencia > -1 && diferencia < 1) 
                 ? '¡La caja cuadra perfecto!' 
                 : 'Diferencia: ' + (diferencia | currency) 
              }}
           </p>
        </div>

        <br>

        <ion-button color="primary" shape="round" size="small" (click)="cerrarTurno()">
          <ion-icon name="document-text-outline" slot="start"></ion-icon>
          Validar y Previsualizar
        </ion-button>
      </div>
    </div>
  </div>

  <app-footer></app-footer>

</div>